.App {
  text-align: center;
  font-style: Geometric Sans-Serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: black;
}

.grid {
  padding: 0px 20px 0px 20px;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tbl {
  justify-content: center;
  padding-top: 60px;
  word-break: break-all;
  white-space: normal;
}

.title {
  margin-top: 10px;
}

.title-left {
  text-align: left;
  font-size: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-bottom: 10px;
  border-bottom: 1px rgba(1, 247, 1, 0.719) solid;
}

.btn {
  padding: 6px 15px;
  margin-top: 10px;
  background-color: rgba(1, 247, 1, 0.719);
  border-radius: 15px;
  border: 0px;
}

.login {
  margin-bottom: 5px;
}

.form-input {
  background-color: white;
  width: 300px;
  height: 25px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-width: 0px;
  padding-left: 7px;
}

.form-submit {
  background-color: rgba(1, 247, 1, 0.9);
  width: 50px;
  height: 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-width: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
}

.album-title {
  font-size: 15px;
  margin-top: 15px;
}

.artist-name {
  font-size: 13px;
}

.album-detail h1 {
  height: 20px;
}

.App-album {
  border-radius: 15px;
  background-color: rgb(27, 23, 23);
  width: 250px;
  height: 370px;
  padding: 0px;
  opacity: 75%;
  margin: 25px 25px;
  word-break: break-all;
  white-space: normal;
}

.App-album:hover{
  opacity: 100%;
}

.img-album {
  width: 230px;
  margin-top: 10px;
  border-radius: 15px 15px 0 0;
}

.text-white {
  color: white;
} 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
